<% provide(:title, @user.name) %>

 <script type="text/javascript" charset="utf-8">
    $(function(){
      var myChart = new Highcharts.Chart({
        chart: {
          renderTo: "trend_chart"
        },  
        title: {
          text: "User popularity"
        },
        xAxis: {
          type: "datetime"
        },
        yAxis: {
          title: {
            text: "followers"
          }
        },
        series: [{
          pointInterval: <%= 1.day * 1000 %>,
          pointStart: <%= 2.months.ago.to_i * 1000%>,
          pointEnd: <%= Date.today.to_time.to_i * 1000%>,
          data: <%= (2.months.ago.to_date..Date.today).map { |date| @user.followers_on(date) }.inspect%>
        }]
      });
    });
  </script>
  <div id="trend_chart" style="width:560px; hieght:300px;">
  </div>

<div class="row">
<aside class="span4">
  <section>
    <h1>
    	<!--<%= gravatar_for @user%>-->
    	<%= @user.name%>
    </h1>
    <%= @user.name %>, <%= @user.email %>
  </section>
  
</aside>
<div class="span8">
    <%= render 'follow_form' if signed_in? %>
  </div>
<div class="span8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>